* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37306B;
  }
  .container{
    background-color: #66347F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 20px;
  }
  a{
    text-decoration: none;
    color: black;
  }
  a:hover{
    color: white;
  }
  h1{
    text-decoration: underline;
  }
  .Cs{
    width: 350px;
    height: 100px;
    text-align: center;
    text-justify: center;
    background: ;
    box-shadow: inset 5px 5px 30px #fff,
                      5px 5px 90px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  
    
  }
  .btn{
    display: flex;
    column-gap: 30px;
  }
  button{
    position: relative;
    top: 40px;
    border: transparent;
    
  }
  pre{
    position: relative;
    top: 40px;
    font-weight:bold;
  }
  